
$color-black:#000;
$color-ink:#222323;
$color-dark-ink:#202124;
$color-dark:#333D4B;
$color-darkgray:#404040;
$color-body:#4E5968;
$color-muted:#B0B8C1;
$color-form:#D1D6DB;
$color-border:#E5E8EB;
$color-light:#F4F4F4;
$color-sky-light:#FAFAFA;
$color-white:#fff;

$color-primary:#243BBF;
$color-indigo-600:#243BBF;
$color-indigo-500:#304FFE;

$color-info:#1565C0;
$color-info-dark:#3285d0;

$color-alert-primary:#E8F3FF;

$color-danger:#D32F2F;
$color-alert-danger:#FFEBEE;

$bg-success:#50B83C;
$color-success:#2E7D32;
$color-alert-success:#E8F5E9;

$bg-warning:#F49342;
$color-warning:#EF6C00;
$color-alert-warning:#FFF3E0;
$color-attention-dark:#e1e0b5;



$color-attention:#EEC200;
$color-alert-attention:#FFFDE7;

$color-mark:#5551FF;
$color-mark-dark:#0026cb;

$color-change:#9C6ADE;
$color-alert-change:#F3E5F5;


$color-helpful:#00ACC1;


$color-brand-blue:#0D327B;
$color-brand-yellow:#FFC700;
$color-brand-sky:#1EA1FC;
$color-brand-green:#0EA758;
$color-brand-indigo:#A15AFE;
$color-brand-red:#F34E1E;
$color-brand-purple:#5552FF;
$color-brand-pink:#FF8577;

$bg-lighter:#f3f3f3;

$font-weight-bold:700;
$font-weight-normal:400;
$font-weight-lighter:300;
$font-weight-light:100;


$shadow-sm: 0 .1rem .2rem rgba(0,0,0,.15);
$shadow: 0 .5rem 1rem rgba(0,0,0,.15);
$shadow-lg: 0 1rem 2.5rem rgba(0,0,0,.15);
