@import url(all.css);
@import url(./../icomoon-hp/style.css);
@import url(bootstrap.min.css);
@import url(./SpoqaHanSans-kr.css);
@import url(./SpoqaHanSans-jp.css);
@import url("./../webfonts/samsung/style.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap");
html {
  font-size: 14px;
}

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  color: #4E5968 !important;
  line-height: 1.5;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.bg-change body {
  background-color: #304FFE !important;
  color: #fff !important;
}

.bg-change body .text-dark, .bg-change body .text-ink {
  color: #fff !important;
}

[lang="en"] {
  font-family: 'Samsung Sharp Sans Regular Regular';
}

[lang="en"].bold {
  font-family: 'SamsungSharpSans-Bold';
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: inherit;
  font-weight: 300;
  line-height: 1.5;
}

.letter-spacing-1 {
  letter-spacing: -1px;
}

.letter-spacing-2 {
  letter-spacing: -2px;
}

.line-height-1 {
  line-height: 1;
}

.line-height-13 {
  line-height: 1.3;
}

.line-height-15 {
  line-height: 1.5;
}

.line-height-175 {
  line-height: 1.75;
}

.font--5 {
  font-size: 5rem;
}

.font--4 {
  font-size: 3.5rem;
}

.font--3 {
  font-size: 2rem;
}

.font-emoji {
  font-family: Segoe UI Emoji;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-small {
  font-size: 0.87rem !important;
}

.font-xs {
  font-size: 0.69rem !important;
}

.font-figma {
  font-family: 'Inter', sans-serif;
}

.text-indigo-500 {
  color: #304FFE;
}

.text-indigo-500:hover {
  color: #304FFE;
}

.text-black {
  color: #000 !important;
}

.text-white {
  color: #fff !important;
}

.text-white-lighter {
  color: rgba(255, 255, 255, 0.7) !important;
}

.text-white-light {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-ink {
  color: #222323 !important;
}

.text-dark {
  color: #333D4B !important;
}

.text-body {
  color: #4E5968 !important;
}

.text-muted {
  color: #B0B8C1 !important;
}

.text-form {
  color: #D1D6DB !important;
}

.text-border {
  color: #E5E8EB !important;
}

.text-light {
  color: #F4F4F4 !important;
}

.text-info {
  color: #1565C0 !important;
}

.text-danger {
  color: #D32F2F !important;
}

.text-success {
  color: #2E7D32 !important;
}

.text-warning {
  color: #EF6C00 !important;
}

.text-attention {
  color: #EEC200 !important;
}

.text-mark {
  color: #5551FF !important;
}

.text-mark-dark {
  color: #243BBF !important;
}

.text-helpful {
  color: #00ACC1 !important;
}

.text-brand-blue {
  color: #0D327B !important;
}

.text-brand-yellow {
  color: #FFC700 !important;
}

.text-brand-sky {
  color: #1EA1FC !important;
}

.text-brand-green {
  color: #0EA758 !important;
}

.text-text-fill {
  background: -webkit-gradient(linear, left top, right top, color-stop(4.68%, #b3aef5), color-stop(42.61%, #d7cbe7), color-stop(64.68%, #e5c8c8), color-stop(96.43%, #ecbdaa));
  background: linear-gradient(90deg, #b3aef5 4.68%, #d7cbe7 42.61%, #e5c8c8 64.68%, #ecbdaa 96.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-indigo-500 {
  background-color: #304FFE;
}

.bg-indigo-600 {
  background-color: #243BBF;
}

.bg-black {
  background-color: #000 !important;
}

.bg-white {
  background-color: #fff;
}

.bg-white-lighter {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.bg-white-500 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-white-gra {
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(70%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0));
}

.bg-dark-ink {
  background-color: #202124 !important;
}

.bg-dark-gra {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), color-stop(70%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0));
}

.bg-darkgray {
  background-color: #404040 !important;
}

.bg-light {
  background-color: #F4F4F4 !important;
}

.bg-form {
  background-color: #D1D6DB !important;
}

.bg-border {
  background-color: #E5E8EB !important;
}

.bg-sky-light {
  background-color: #FAFAFA !important;
}

.bg-info {
  background-color: #1565C0 !important;
}

.bg-alert-primary {
  background-color: #E8F3FF !important;
}

.bg-danger {
  background-color: #D32F2F !important;
}

.bg-alert-danger {
  background-color: #FFEBEE !important;
}

.bg-success {
  background-color: #50B83C !important;
}

.bg-alert-success {
  background-color: #E8F5E9 !important;
}

.bg-warning {
  background-color: #EF6C00 !important;
}

.bg-warning {
  background-color: #F49342 !important;
}

.bg-alert-warning {
  background-color: #FFF3E0 !important;
}

.bg-attention {
  background-color: #EEC200 !important;
}

.bg-alert-attention {
  background-color: #FFFDE7 !important;
}

.bg-mark {
  background-color: #5551FF !important;
}

.bg-mark-dark {
  background-color: #243BBF !important;
}

.bg-change {
  background-color: #9C6ADE !important;
}

.bg-alert-change {
  background-color: #F3E5F5 !important;
}

.bg-helpful {
  background-color: #00ACC1 !important;
}

.bg-brand-blue {
  background-color: #0D327B !important;
}

.bg-brand-yellow {
  background-color: #FFC700 !important;
}

.bg-brand-sky {
  background-color: #1EA1FC !important;
}

.bg-brand-green {
  background-color: #0EA758 !important;
}

.bg-brand-indigo {
  background-color: #A15AFE !important;
}

.bg-brand-red {
  background-color: #F34E1E !important;
}

.bg-brand-purple {
  background-color: #5552FF !important;
}

.bg-brand-pink {
  background-color: #FF8577 !important;
}

.bg-hover-dark {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.bg-hover-dark:hover {
  background-color: rgba(51, 61, 75, 0.05) !important;
}

.bg-hover--dark:hover {
  background-color: rgba(51, 61, 75, 0.05) !important;
}

.bg-hover-light:hover {
  background-color: rgba(244, 244, 244, 0.05) !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.bg-white-10 {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-dim {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.34)), color-stop(3.5%, rgba(0, 0, 0, 0.338)), color-stop(7%, rgba(0, 0, 0, 0.324)), color-stop(10.35%, rgba(0, 0, 0, 0.306)), color-stop(13.85%, rgba(0, 0, 0, 0.285)), color-stop(17.35%, rgba(0, 0, 0, 0.262)), color-stop(20.85%, rgba(0, 0, 0, 0.237)), color-stop(24.35%, rgba(0, 0, 0, 0.213)), color-stop(27.85%, rgba(0, 0, 0, 0.188)), color-stop(31.35%, rgba(0, 0, 0, 0.165)), color-stop(34.85%, rgba(0, 0, 0, 0.144)), color-stop(38.35%, rgba(0, 0, 0, 0.126)), color-stop(41.85%, rgba(0, 0, 0, 0.112)), color-stop(45.35%, rgba(0, 0, 0, 0.103)), color-stop(48.85%, rgba(0, 0, 0, 0.1)), color-stop(52.35%, rgba(0, 0, 0, 0.103)), color-stop(55.85%, rgba(0, 0, 0, 0.112)), color-stop(59.35%, rgba(0, 0, 0, 0.126)), color-stop(62.85%, rgba(0, 0, 0, 0.144)), color-stop(66.35%, rgba(0, 0, 0, 0.165)), color-stop(69.85%, rgba(0, 0, 0, 0.188)), color-stop(73.35%, rgba(0, 0, 0, 0.213)), color-stop(76.85%, rgba(0, 0, 0, 0.237)), color-stop(80.35%, rgba(0, 0, 0, 0.262)), color-stop(83.85%, rgba(0, 0, 0, 0.285)), color-stop(87.35%, rgba(0, 0, 0, 0.306)), color-stop(90.85%, rgba(0, 0, 0, 0.324)), color-stop(94.35%, rgba(0, 0, 0, 0.338)), color-stop(97.85%, rgba(0, 0, 0, 0.347)), to(rgba(0, 0, 0, 0.35)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.34) 0, rgba(0, 0, 0, 0.338) 3.5%, rgba(0, 0, 0, 0.324) 7%, rgba(0, 0, 0, 0.306) 10.35%, rgba(0, 0, 0, 0.285) 13.85%, rgba(0, 0, 0, 0.262) 17.35%, rgba(0, 0, 0, 0.237) 20.85%, rgba(0, 0, 0, 0.213) 24.35%, rgba(0, 0, 0, 0.188) 27.85%, rgba(0, 0, 0, 0.165) 31.35%, rgba(0, 0, 0, 0.144) 34.85%, rgba(0, 0, 0, 0.126) 38.35%, rgba(0, 0, 0, 0.112) 41.85%, rgba(0, 0, 0, 0.103) 45.35%, rgba(0, 0, 0, 0.1) 48.85%, rgba(0, 0, 0, 0.103) 52.35%, rgba(0, 0, 0, 0.112) 55.85%, rgba(0, 0, 0, 0.126) 59.35%, rgba(0, 0, 0, 0.144) 62.85%, rgba(0, 0, 0, 0.165) 66.35%, rgba(0, 0, 0, 0.188) 69.85%, rgba(0, 0, 0, 0.213) 73.35%, rgba(0, 0, 0, 0.237) 76.85%, rgba(0, 0, 0, 0.262) 80.35%, rgba(0, 0, 0, 0.285) 83.85%, rgba(0, 0, 0, 0.306) 87.35%, rgba(0, 0, 0, 0.324) 90.85%, rgba(0, 0, 0, 0.338) 94.35%, rgba(0, 0, 0, 0.347) 97.85%, rgba(0, 0, 0, 0.35));
}

.rounded-20 {
  border-radius: 20px;
}

.border {
  border: 1px solid #E0E0E0 !important;
}

.border-darken {
  border: 1px solid #333D4B !important;
}

.border-bottom {
  border-bottom: 1px solid #E0E0E0 !important;
}

.border-bottom-light {
  border-bottom: 1px solid rgba(229, 232, 235, 0.1) !important;
}

.border-black {
  border: 1px solid #222323 !important;
}

.border-white {
  border: 1px solid #fff;
}

.border {
  border: 1px solid #E0E0E0 !important;
}

.border-darken {
  border: 1px solid #333D4B !important;
}

.border-bottom {
  border-bottom: 1px solid #E0E0E0 !important;
}

.border-bottom-light {
  border-bottom: 1px solid rgba(229, 232, 235, 0.1) !important;
}

.border-attention {
  border: 1px solid #e1e0b5 !important;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-lighter {
  font-weight: 300 !important;
}

.font-weight-light {
  font-weight: 100 !important;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item.active {
  border: none;
}

.nav-tabs .nav-item.active a {
  color: #222323 !important;
}

.nav-tabs .nav-link {
  color: #B0B8C1 !important;
  border: none;
}

.nav-tabs-bottom-border .navTab.active {
  color: black;
  font-weight: 700;
  border-bottom: 2px solid black;
}

.nav-tabs-bottom-border .navTab {
  color: #4E5968;
}

.form-control {
  font-size: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.shadow-brand {
  -webkit-box-shadow: 0 0.5rem 1rem #5551FF !important;
          box-shadow: 0 0.5rem 1rem #5551FF !important;
}

.shadow-brand-lg {
  -webkit-box-shadow: 0 1rem 3rem #5551FF !important;
          box-shadow: 0 1rem 3rem #5551FF !important;
}

.shadow-xs {
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
}

.hover-white:hover {
  background-color: #F4F4F4;
}

.shadow {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.shadow-hover:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.shadow-hover-brand:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(85, 81, 255, 0.4) !important;
          box-shadow: 0 1rem 3rem rgba(85, 81, 255, 0.4) !important;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.image-hover {
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: background-size .6s;
  transition: background-size .6s;
}

.image-hover:hover {
  background-size: auto 115%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}

.table-lg td, .table-lg th {
  padding: 1rem 0.75rem;
}

.mt--3 {
  margin-top: 3rem;
}

.mr--3 {
  margin-right: 3rem;
}

.mb--3 {
  margin-bottom: 3rem;
}

.ml--3 {
  margin-left: 3rem;
}

.mt--6 {
  margin-top: 6rem;
}

.mb--6 {
  margin-bottom: 6rem;
}

.mt--8 {
  margin-top: 8rem;
}

.mb--8 {
  margin-bottom: 8rem;
}

.mt--12 {
  margin-top: 12rem;
}

.mb--12 {
  margin-bottom: 12rem;
}

.mt--14 {
  margin-top: 14rem;
}

.mb--14 {
  margin-bottom: 14rem;
}

.mt--16 {
  margin-top: 16rem;
}

.mb--16 {
  margin-bottom: 16rem;
}

@media (max-width: 576px) {
  .mb-xs-0 {
    margin-bottom: 0px;
  }
  .text-center-sm {
    text-align: center;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .font--75 {
    font-size: 7.5rem;
  }
  .font--4 {
    font-size: 4rem;
  }
  .font--3 {
    font-size: 3rem;
  }
  .pb-md--4 {
    padding-bottom: 4rem;
  }
  .pt-md--4 {
    padding-top: 4rem;
  }
  .pt-md--75 {
    padding-top: 7.5rem;
  }
  .pt-md--150 {
    padding-top: 15rem;
  }
  .mt-md--150 {
    margin-top: 15rem;
  }
  .mb-md--150 {
    margin-bottom: 15rem;
  }
  .mt-md--4 {
    margin-top: 4rem;
  }
  .h1, .h h1 {
    font-size: 2.5rem !important;
  }
  .h2, .h h2 {
    font-size: 2rem !important;
  }
  .h3, .h h3 {
    font-size: 1.75rem !important;
  }
  .h4, .h h4 {
    font-size: 1.5rem !important;
  }
  .h5, .h h5 {
    font-size: 1.25rem !important;
  }
  .h6 {
    font-size: 1rem !important;
  }
  .process-image {
    height: 65vh !important;
  }
}

@media (min-width: 960px) {
  .text-left-lg {
    text-align: left !important;
  }
}

.pt--4 {
  padding-top: 4rem;
}

.pt--r {
  padding-right: 4rem;
}

.pb--4 {
  padding-bottom: 4rem;
}

.pt--l {
  padding-left: 4rem;
}

.pt--8 {
  padding-top: 8rem;
}

.pt--75 {
  padding-top: 7.5rem;
}

.pb--75 {
  padding-bottom: 7.5rem;
}

.pt--6 {
  padding-top: 6rem;
}

.pb--6 {
  padding-bottom: 6rem;
}

.pt--8 {
  padding-top: 8rem;
}

.pb--8 {
  padding-bottom: 8rem;
}

.pt--12 {
  padding-top: 12rem;
}

.pb--12 {
  padding-bottom: 12rem;
}

.pt--14 {
  padding-top: 14rem;
}

.pb--14 {
  padding-bottom: 14rem;
}

.btn-brand-indigo {
  color: #fff;
  background-color: #304FFE;
  border-color: #1739fe;
}

.btn-brand-indigo:hover {
  color: #fff;
  background-color: #2142fe;
}

.image-contrast {
  image-rendering: -webkit-optimize-contrast;
}

.image-pixelated {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.list-check {
  list-style-type: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-check li {
  list-style: none !important;
  background: url("/resources/img-hp/icon-check.png") 4px 5px !important;
  background-repeat: no-repeat;
  padding-left: 24px;
}

.list-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0.9 !important;
}

.list-text li {
  list-style: none !important;
}

.list-disc {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.8rem !important;
}

.list-disc li {
  list-style: disc !important;
}

.list-square {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.8rem !important;
}

.list-square li {
  list-style: square !important;
}

.list-counter-bracket {
  counter-reset: section;
  list-style-type: none;
  padding-left: 1.8rem !important;
}

.list-counter-bracket li::before, .list-counter-bracket li:before {
  counter-increment: section;
  content: "(" counter(section) ")";
  margin-left: -2.3rem;
  width: 2rem;
  position: absolute;
  text-align: right;
}

.list-counter {
  counter-reset: section;
  list-style-type: none;
  padding-left: 1.8rem !important;
}

.list-counter li::before, .list-counter li:before {
  counter-increment: section;
  content: counter(section) ".";
  margin-left: -2.4rem;
  width: 2rem;
  position: absolute;
  text-align: right;
}

.list-process {
  max-width: 240px;
}

.list-process .process {
  list-style: none;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.list-process .process:nth-child(even) .process-iconWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.list-process .process:first-child .process-line::before {
  height: 50%;
  bottom: 0px;
  top: auto;
}

.list-process .process:last-child .process-line::before {
  height: 50%;
  top: 0px;
  bottom: auto;
}

.list-process .process-line {
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 !important;
}

.list-process .process-line::before {
  content: '';
  width: 3px;
  background-color: #333D4B;
  height: 100px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1.5px);
}

.list-process .process-line::after {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 6px);
  bottom: auto;
  background-color: #fff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  border: solid #333 3px;
  top: calc(50% - 6px);
}

.list-process .process-text {
  width: 100%;
  text-align: center;
}

.list-process .process-iconWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0rem;
}

.list-process .process-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.list-process .process-img img {
  width: 100%;
  margin: 0 auto;
}

.list-indent-counter {
  text-indent: -2.3rem;
  padding-left: 2.5rem;
}

.positon-relative {
  position: relative;
}

.positon-absolute {
  position: absolute;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-fill {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

.flex-grow-1 {
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cursor-pointer {
  cursor: pointer !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .font-weight-bold {
    font-weight: 800 !important;
    font-weight: bold !important;
  }
  .font-weight-bolder, .font-weight th {
    font-weight: 700 !important;
    font-weight: bold !important;
  }
  .font-weight-normal {
    font-weight: 600 !important;
    font-weight: bolder !important;
  }
  .font-weight-lighter {
    font-weight: 300 !important;
    font-weight: normal !important;
  }
  .font-weight-light {
    font-weight: 100 !important;
    font-weight: lighter !important;
  }
}

@media (min-width: 768px) {
  .list-process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: none;
  }
  .list-process .process {
    position: relative;
    list-style: none;
  }
  .list-process .process:first-child .process-line::before {
    width: 50%;
    height: 3px;
    right: 0px;
    bottom: 0;
    left: auto;
  }
  .list-process .process:last-child .process-line::before {
    width: 50%;
    height: 3px;
    bottom: 0px;
    right: auto;
    top: auto;
  }
  .list-process .process-line {
    width: 100%;
    position: relative;
    height: auto;
  }
  .list-process .process-line::before {
    content: '';
    height: 3px;
    background-color: #333D4B;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .list-process .process-line::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    background-color: #fff;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    border: solid #333 3px;
    left: calc(50% - 6px);
    top: auto;
    right: 0;
  }
  .list-process .process-text {
    width: 100%;
    text-align: center;
  }
  .list-process .process-iconWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  .list-process .process-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px;
  }
  .list-process .process-img img {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .text-center-sm {
    text-align: center !important;
  }
  .pt-sm--75 {
    padding-top: 7.5rem;
  }
}

@media (max-width: 960px) {
  .text-center-lg {
    text-align: center !important;
  }
}

.eHoverWrap {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.eHoverWrap:hover .btn-brand-indigo {
  -webkit-box-shadow: 0 1rem 3rem rgba(48, 79, 254, 0.4) !important;
          box-shadow: 0 1rem 3rem rgba(48, 79, 254, 0.4) !important;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

a.eLink {
  position: relative;
}

a.eLink::before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 50%;
  width: 0%;
  height: 1px;
  background-color: rgba(48, 79, 254, 0.6);
}

a.eLink:hover {
  text-decoration: none !important;
}

a.eLink:hover::before {
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 100%;
}

.eLinkWrap .eLink {
  position: relative;
}

.eLinkWrap .eLink::before {
  content: '';
  background-color: #304FFE;
  position: absolute;
  bottom: -4px;
  left: 0px;
  width: 20%;
  height: 4px;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.eLinkWrap:hover .eLink {
  position: relative;
}

.eLinkWrap:hover .eLink::before {
  width: 100%;
}

.eDown {
  -webkit-animation: no-transform 1.8s infinite;
          animation: no-transform 1.8s infinite;
  -webkit-transition: all 1.8s cubic-bezier(0.63, 0, 0.29, 1);
  transition: all 1.8s cubic-bezier(0.63, 0, 0.29, 1);
}

@-webkit-keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.eHoverRec {
  position: relative;
}

.eHoverRec::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 79, 254, 0.05);
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0, 0.9, 0.3, 1.2);
  transition: all 0.4s cubic-bezier(0, 0.9, 0.3, 1.2);
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.eHoverRec:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ef-btn-rotate a {
  position: relative;
  width: 252px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ef-btn-rotate a .text {
  position: relative;
  z-index: 90;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ef-btn-rotate a svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.ef-btn-rotate a svg rect {
  width: 252px;
  height: 56px;
  fill-opacity: 0;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 300;
  stroke-dashoffset: 40;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s, fill-opacity 0.5s 0.2s;
  transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s, fill-opacity 0.5s 0.2s;
}

.ef-btn-rotate a .svg2 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.ef-btn-rotate:hover svg rect {
  fill-opacity: 1;
  stroke-dasharray: 90;
  stroke-dashoffset: 160;
}

.icon-divider-vertical {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 36px;
  vertical-align: middle;
}

.icon-divider-vertical::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #222323;
}

#navBar {
  position: fixed;
  top: 0px;
  z-index: 90;
  mix-blend-mode: difference;
  color: white;
}

#navBar .link {
  height: 100%;
  cursor: pointer !important;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

#navBar .link::before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: 0px;
  width: 0%;
  height: 4px;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#navBar .active.link::before {
  background-color: #304FFE;
  width: 100%;
}

#designIs {
  -webkit-perspective: 40rem;
          perspective: 40rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#designIs .carousel1 {
}

#designIs .carousel1 .ef-fade {
  opacity: 0;
  -webkit-animation: no-transform 1.2s linear  forwards;
          animation: no-transform 1.2s linear  forwards;
}

#designIs .carousel1 .ef-zoomText {
  -webkit-transform: translateZ(16rem);
          transform: translateZ(16rem);
  -webkit-animation: no-transform 2.4s cubic-bezier(0, 0, 0, 1) forwards;
          animation: no-transform 2.4s cubic-bezier(0, 0, 0, 1) forwards;
}

#designIs .carousel1 .ef-fade0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 1;
}

#designIs .carousel1 .ef-fade1 {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

#designIs .carousel1 .ef-fade2 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

#designIs .carousel1 .ef-fade3 {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

#designIs .carousel1 .ef-fade4 {
  -webkit-animation-delay: 3.0s;
          animation-delay: 3.0s;
}

#designIs .carousel1 .ef-fade5 {
  -webkit-animation-delay: 3.0s;
          animation-delay: 3.0s;
}

#designIs .carousel1 .btn-moreWrap {
  position: absolute;
  bottom: 88px;
  right: 30px;
  cursor: pointer;
}

#designIs .carousel1 .btn-moreWrap .btn-more {
  position: relative;
  display: inline-block;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

#designIs .carousel1 .btn-moreWrap .btn-more .text {
  position: absolute;
  bottom: 28px;
  left: 0px;
  width: 24px;
}

#designIs .carousel1 .btn-moreWrap .btn-more .text::before {
  content: 'View more';
  display: block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  color: #fff;
}

#designIs .carousel1 .btn-moreWrap .btn-more .iDown .icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

#designIs .carousel1 .btn-moreWrap .btn-more .iDown .icon::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#designIs .carousel1 .object {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  position: absolute;
}

#designIs .ef-btn-rotate a .text {
  color: #304FFE;
}

#designIs .ef-btn-rotate a svg rect {
  fill: #304FFE;
  stroke: #304FFE;
}

#designIs .ef-btn-rotate:hover .text {
  color: #fff;
}

@media (min-width: 768px) {
  .btn-moreWrap {
    right: 56px !important;
  }
}

#pinContainer {
  width: 100% !important;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}

#pinContainer #slideContainer {
  width: 300%;
  /* to contain 4 panels, each with 100% of window width */
  height: 100%;
  background-image: url(./../images/johcompany_BG.jpg);
}

#pinContainer #slideContainer .panel {
  /* width: 25%; */
  height: 100%;
  float: left;
}

#pinContainer #slideContainer .panel .process-image {
  height: 50vh;
}

#pinContainer #slideContainer .panel .process-text {
  margin-top: 36px;
}

#pinContainer .ef-btn-rotate a .text {
  color: #222323;
}

#pinContainer .ef-btn-rotate a svg rect {
  fill: #222323;
  stroke: #222323;
}

#pinContainer .ef-btn-rotate:hover .text {
  color: #fff;
}

#other .ef-btn-rotate a .text {
  color: #fff;
}

#other .ef-btn-rotate a svg rect {
  fill: #fff;
  stroke: #fff;
}

#other .ef-btn-rotate:hover .text {
  color: #304FFE !important;
}

#career .fixed {
  -webkit-transition: all .3s;
  transition: all .3s;
  top: 0px;
  bottom: auto;
}

#career .career-imgWrap {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 70;
  height: 100vh;
}

#career .career-img {
  opacity: 0;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

#career .absolute {
  position: absolute;
  top: 0px;
  left: 0px;
}

#career .visible {
  opacity: 1;
}

#career .career-scrollWrap {
  position: absolute;
  width: 150px;
}

#career .career-text {
  position: absolute;
  left: 20px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

#career .career-scroll {
  position: absolute;
  left: -7px;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 8px;
  background-color: white;
  border: 4px solid #304FFE;
  border-radius: 100%;
}

#career .career-scrollWrap {
  position: absolute;
  width: 150px;
}

#career .career-text {
  position: absolute;
  left: 20px;
  display: inline-block;
}

@media (min-width: 768px) {
  .career-imgWrap {
    position: relative;
  }
}

.portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 120px 24px;
}

.portfolio-grid .portfolio-con {
  position: relative;
  padding-top: 211px;
  overflow: hidden;
}

.portfolio-grid .portfolio-con .portfolio-img {
  position: absolute;
  top: 0px;
  min-height: 211px;
}

.portfolio-grid .portfolio-con .portfolio-img .title, .portfolio-grid .portfolio-con .portfolio-img .tagWrap, .portfolio-grid .portfolio-con .portfolio-img .more {
  overflow: hidden;
  position: relative;
  z-index: 70;
}

.portfolio-grid .portfolio-con .portfolio-img .title .text, .portfolio-grid .portfolio-con .portfolio-img .tagWrap .text, .portfolio-grid .portfolio-con .portfolio-img .more .text {
  position: absolute;
  z-index: 70;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.portfolio-grid .portfolio-con .portfolio-img .title {
  height: 44px;
}

.portfolio-grid .portfolio-con .portfolio-img .tagWrap {
  height: 24px;
}

.portfolio-grid .portfolio-con .portfolio-img .tagWrap .tag {
  padding-right: 8px;
  display: inline-block;
}

.portfolio-grid .portfolio-con .portfolio-img .more {
  opacity: 0;
  height: 40px;
}

.portfolio-grid .portfolio-con .portfolio-img .more .eLink::before {
  background-color: rgba(255, 255, 255, 0.8);
}

.portfolio-grid .portfolio-con .portfolio-img .bg {
  position: absolute;
  top: 0px;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-grid .portfolio-con .portfolio-img .bg::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 60;
  background-color: transparent;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.portfolio-grid .portfolio-con:hover .portfolio-img {
  min-height: 100%;
}

.portfolio-grid .portfolio-con:hover .portfolio-img .title .text, .portfolio-grid .portfolio-con:hover .portfolio-img .tagWrap .text {
  -webkit-animation: no-transform linear .3s forwards;
          animation: no-transform linear .3s forwards;
}

.portfolio-grid .portfolio-con:hover .portfolio-img .more {
  -webkit-animation: no-transform linear .3s .9s forwards;
          animation: no-transform linear .3s .9s forwards;
}

.portfolio-grid .portfolio-con:hover .portfolio-img .title .text {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.portfolio-grid .portfolio-con:hover .portfolio-img .tagWrap .text {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.portfolio-grid .portfolio-con:hover .portfolio-img .bg::before {
  -webkit-backdrop-filter: blur(0.05em);
          backdrop-filter: blur(0.05em);
  background-color: rgba(36, 59, 191, 0.8);
}

.portfolio-grid .portfolio-con:hover .portfolio-text {
  opacity: 0;
}

@media (min-width: 992px) {
  #portfolio .sider {
    height: 100vh !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    padding-top: 8rem;
  }
}

#btn-top {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  height: 40px;
  width: 40px;
  z-index: 90;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#btn-top .iTop {
  position: relative;
  width: 12px;
  height: 12px;
  display: inline-block;
  -webkit-transition: all 0.4s cubic-bezier(0, 0.9, 0.3, 1.2);
  transition: all 0.4s cubic-bezier(0, 0.9, 0.3, 1.2);
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

#btn-top .iTop::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #304FFE;
  border-top: 1px solid #304FFE;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#btn-top:hover .iTop {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
